* {
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 4px solid orange;
  width: 70%;
  height: 60px;
  display: flex;
  padding: 30px 10px;
}

.container div {
  font-weight: 700;
  color: white;
  flex: 1;
}

.logo {
  max-width: 100px;
  background-color: blue;
}

.team {
  background-color: lightblue;
}

.products {
  background-color: red;
}
