nav {
  /* in order to use sticky, nav can't be inside header */
  position: sticky;
  top: 0;
  height: 50px;
  padding: 0 1rem;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  transition: height var(--transition);

  overflow: hidden;
}

nav .logo {
  flex: 1 0 200px;
  margin-right: 100px;
}

nav ul {
  flex: 0.4 0 250px;

  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: var(--clr-2);
  font-size: 0.9rem;
}

.nav-toggler {
  display: none;
}

input#nav-toggle {
  display: none;
}
#theme-changer {
  all: unset;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
}
