section.register {
  right: 0;
  background-image: linear-gradient(
    135deg,
    rgb(87, 0, 87),
    rgb(87, 0, 87),
    rgb(121, 0, 121),
    rgb(199, 51, 199)
  );
  color: white;
}

section.register i.fa-user-plus {
  font-size: 6rem;
}

section.register .section-content {
  padding: 0 3rem;
}

.btn-register {
  background: transparent;
  border: 2px solid;
  border-radius: 30px;
}

.btn-register span {
  position: relative;
  top: -5px;
}

.btn-register i {
  margin-left: 5px;
  font-size: 1.5rem;
}
