.movies-container {
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.movie-card {
    position: relative;
    background-color: #222;
    padding: 20px;
    margin: 20px;
    color: white;
}
.movie-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
