:root {
    font-size: calc(10px + 0.4vh + 0.5vw);
}

@media (max-width: 600px) {
    :root {
        font-size: calc(6px + 0.4vh + 0.5vw);
    }
    .game-container {
        width: 100vw;
    }
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
header img {
    margin-bottom: 20px;
}
.instructions {
    max-width: 700px;
}
.instructions h2 {
    padding: 0;
    margin: 0;
}
.instructions ol {
    padding-left: 15px;
}

button {
    border: none;
    transition: filter 0.3s, opacity 0.3s;
}

.game-container {
    position: relative;
    margin: auto;
    background-image: url(./images/pokedex.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    width: 40rem;
    height: 25rem;
}

.screen {
    position: absolute;
    top: 1.5em;
    left: 49.5%;
    transform: translateX(-50%);
    width: 12rem;
    height: 9rem;
}

.screen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details {
    position: absolute;
    top: 14.5em;
    left: 49.3%;
    transform: translateX(-50%);
    width: 12rem;
    height: 9rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.details h1 {
    margin: 0;
    padding: 10px;
}
.details p {
    padding: 0;
    margin: 0;
    flex: 1;
}

.history-buttons {
    position: absolute;
    top: 18.2rem;
    left: 7.95rem;
    width: 4.5rem;
    height: 1.3rem;
    display: flex;
    justify-content: space-between;
}
.history-buttons button {
    flex: 0.5;
    background: lightgreen;
    opacity: 0.2;
    cursor: pointer;
}

.history-buttons button:hover,
.new-button button:hover {
    opacity: 0.75;
    filter: brightness(1.2) saturate(100%);
}

.new-button {
    position: absolute;
    display: block;
    top: 16.9rem;
    right: 5.25rem;
    width: 4rem;
    height: 4rem;
    display: flex;
}

.new-button button {
    flex: 1;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    background: lightgreen;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader img {
    width: 50%;
}

.success,
.loader,
.error,
.screen {
    display: none;
}
.error {
    flex: 1;
    text-align: center;
    padding-top: 25%;
}
